@use "src/scss/abstracts" as a;

body {
  background-color: a.$background-gray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1110px;
  padding: 0 15px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.grid {
  display: grid;
}
