*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: inherit;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: unset;
}

ul, ol, li {
  list-style: none;
}